@import url('https://fonts.googleapis.com/css?family=Khand:300,400,500,700');
body {
	margin: 0;
	background: #fab401;
}
.cont {
	max-width: 1366px;
	width: 100%;
	margin: auto;
}
.blue_box {
	display: inline-block;
	margin: 20px;
}
#counter {
	text-align: center;
	color: #fff;
	font-family: Khand
}
.time_label {
	font-size: 50px;
}
